# macOS
.DS_Store
**/.DS_Store

# Xcode
build/
DerivedData/
*.xcuserstate
*.xcuserdatad/
xcuserdata/
**/xcuserdata/
**/xcuserdatad/
*.xcscmblueprint
*.xccheckout
*.xcworkspace
*.xcdebugger

# Swift Package Manager
.build/
Packages/
Package.resolved
.swiftpm/

# Editor swap files
*.swp

# CocoaPods / Carthage (not used, but ignored just in case)
Pods/
Carthage/
Carthage/Build/

# fastlane
fastlane/
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Ruby / tooling
.bundle

# Environment
.env

# IDE
.idea/
.vscode/

#AI if needed
.ai/build-output.txt
CLAUDE.md
Agent.md